body{
    background: #F8F4F0;
    margin: 0;
    font-family: 'Courier';
    color: #000201;
    padding-bottom: 40px;
}
a{
    text-decoration: none;
    color:#000201;
}
.header a{
    margin: 24px;
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: -0.8px;
}

.menu{
    width: 78px;
    height: 176px;
    position: absolute;
    left: 24px;
    top: 65px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}
.menu a{
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: -0.8px;
    padding: 6px 24px 6px 24px;

    color: rgba(0, 2, 1, 0.4);
}
.color_menu{
    color: #000201;
}
.container_menu{
    position: absolute;
    left: 2%;
    top: 3%;
    display: flex;    
}
.left-content{
    position: relative;
    left: 20%;
    top: 89px;
    padding-left: 40px;
}
h1 {
    margin: 0px;
    font-style: normal;
    font-weight: 1000;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.8px;
    color: #000201;
}
.more_infommation{
    font-family: 'Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #D3902A;
}
.explain{
    font-family: 'Courier';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.25px;
    color: rgba(0, 2, 1, 0.6);
}
.explain span{
    color: #000201;
}

.wraper{
    position: relative;
    top: 30px;
    left: 0px;
    right: 5%;
    width: 75%;
    height: 358px;
    border: 0px solid #000;
    overflow: hidden;
}
.cards{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    flex: 1;
    display: flex;
    will-change: transform;
}
.works{
    position: relative;
}

.aroow{
    position: relative;
    left: 70%;  
}
.aroow button{
    background: none;
    border: none;
    cursor: pointer;
}
.icon__left{
    margin-right: 18px;
}
.card{
    position: relative;
    width: 486px;
    height: 358px;
    flex: 1;
    margin-right: 12px;
}

.animation-cards{
    transition: 2s all linear ;
}

.menu_works a{
    font-family: 'Courier';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.25px;
    color: rgba(0, 2, 1, 0.5);
}
.menu_works{
    display: flex;
    width: 75%;
    gap: 40px;
}
.wraper-container{
    position: absolute;
    width: 75%;
    height: 686px;
    
}
.wraper_works{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;

}
.card_works{
    width: 328px;
    height: 246px;
    cursor: pointer;
}
#canvas_line{
    position: relative;
    left: 0px;
    top: -2px;
}
.add_scroll{
    overflow: scroll;
}
.icon__sun img{
    width: 24px;
    height: 24px;
}
.icon__sun {
    position: fixed;
    left: 4%;
    top: 94%;
    display: flex;
    align-items: center;
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
}
.shadow{
    border-bottom: 2px solid rgba(0, 2, 1, 0.4);
}

.shadow_light{
    border-bottom: 2px solid #fff; 
}

.works_menu-border{
    border-bottom: #c2c0bb;
}
.container_tab{
    display: grid;
    grid-template-columns: 200px 600px;
}
h2{
    font-family: 'Courier';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: -0.25px;

    color: #000201;
}
.expiriance_work{
    font-family: 'Courier';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.25px;

    color: rgba(0, 2, 1, 0.6);
}
.contact_form{
    width: 580px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 50px;
    grid-auto-columns: 28px;
    row-gap: 50px;
    column-gap: 27px;
}
.contact_form input, .contact_form select {
    font-family: 'Courier';
    height: 55px;
    background: #F1ECE6;
    border: none;
    padding: 16px;
}
.contact_form input:focus, 
.contact_form select:focus,
.contact_form textarea:focus{
    background-color: #f3e9dc; 
    outline: none;
    border: 1px solid #D3902A;
    border-radius: 4px;
} 
.contact_form label{
    font-family: 'Courier';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.25px;

    color: #000201;
}
.contact_form div{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.contact_form sup{
    color: #F73232;
}
.form_name{
    grid-column: 1/2;
}
.form_title{
    grid-column: 2/4;
}
.form_mail{
    grid-column: 1/4;
}
.form_message{
    grid-column: 1/4;
    height: 240px;
}
.form_message input{
    height: 240px;
}

.btn{
    position: relative;
    top: 170px;
    width: 164px;
    height: 55px;
    background: #000201;
    color: #F8F4F0;

}