body{
    background: #F8F4F0;
    margin: 0;
    font-family: 'Archivo';
    color: #000201;
    padding-bottom: 50px;
}
a{
    text-decoration: none;
    color:#000201;
}
.header a{
    margin: 24px;
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: -0.8px;
}

.menu{
    width: 78px;
    height: 176px;
    position: absolute;
    left: 24px;
    top: 65px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.menu a{
    font-weight: 500;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: -0.8px;
}
.about{
    position: absolute;
    left: 2%;
    top: 3%;
    display: flex;
    
    
}
.left-content{
    position: absolute;
    left: 20%;
    top: 11%;
}
h1 {
    margin: 0px;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.8px;
    
}
.more_infommation{
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #D3902A;
}
.explain{
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.25px;
    color: rgba(0, 2, 1, 0.6);
}
.explain span{
    color: #000201;
}

.wraper{
    position: relative;
    top: 30px;
    left: 20%;
    right: 5%;
    width: 75%;
    height: 358px;
    border: 0px solid #000;
    overflow: hidden;
}
.cards{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    flex: 1;
    display: flex;
    will-change: transform;
}
.works{
    position: relative;
    top: 500px;
}

.aroow{
    position: absolute;
    right: 5%;  
}
.aroow button{
    background: none;
    border: none;
    cursor: pointer;
}
.icon__left{
    margin-right: 18px;
}
.card{
    position: relative;
    width: 486px;
    height: 358px;
    flex: 1;
    margin-right: 12px;
}

.animation-cards{
    transition: 2s all linear ;
}

.menu_works a{
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.25px;
    color: rgba(0, 2, 1, 0.5);
}
.menu_works{
    display: flex;
    gap: 40px;
}
.wraper-container{
    position: absolute;
    top: 200px;
    left:0;
    right: 24px;
    width: 110%;
    height: 686px;
    
}
.wraper_works{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;

}
.card_works{
    width: 328px;
    height: 246px;
    cursor: pointer;
}
#canvas_line{
    position: relative;
    left: 0px;
    top: -2px;
}
.add_scroll{
    overflow: scroll;
}
.icon__sun img{
    width: 24px;
    height: 24px;
}
.icon__sun {
    position: absolute;
    left: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
}
.shadow{
    border-bottom: 2px solid rgba(0, 2, 1, 0.4);;
    
}
